<html>
<head></head>
<body>
    <script type="text/javascript">
        var ws = new WebSocket("ws://localhost:5069/ws");
        ws.onopen = function() {
            console.log("connected to server");
        }
        ws.onclose = function(e) {
            console.log("connection closed (" + e.code + ")");
        }
        ws.onmessage = function(e) {
            var messagePlaceholder = document.getElementById('message');
            var message = messagePlaceholder.cloneNode(true);
            message.textContent = e.data;
            var messageLog = document.getElementById('messageLog');
            messageLog.appendChild(message);
        }

        function send() {
            var msg = document.getElementById('playerName').value;
            ws.send("Player: " + msg + " rolled: ");
        };

        function connect() {
            var msg = document.getElementById('playerName').value;
            ws.send(msg);
        };
    </script>
    <h1>Ultra mega Dice roller 69 420</h1>
    <form>
        <p>
            Player name: <input id="playerName" type="text" value="Kentabekas">
        </p>
    </form>
    <button onclick="connect();">Connect</button>
    <button onclick="send();">Roll dices!</button>
    <div id="messageLog" style="margin-top: 30px;"></div>
    <div id="message" style="margin-top: 5px;"></div>
</body>
</html>